html
	head
		title= applicant.name
	body
		h1= applicant.name
		table
			tr
				th Name
				td= applicant.name
			tr
				th
					abbr(title="Date of Birth") DoB
				td= applicant.dob
			tr
				th Experience
				td= applicant.exp
